---
# Empty
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us | Primus Technologies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include menu.html %}
    <section class="main">
        <h2>About Us</h2>
        <p>Primus Technologies was started in the year 2010 with an objective of providing solutions for security needs and helping the society in providing value for money products with effective service. Presently the company is equipped with required infrastructure in terms of manpower and equipment to cater to the requirement of the customers.</p>
        <h3>Why Security Products?</h3>
        <p>Due to ever increasing rise of crimes in the society, Primus Technologies realised the importance of providing a safe and secured world, therefore choosen security products of leading companies like (HIKVision, CP Plus and Dahua) and later added biometric, Video Door Phones, epabx and public address system as product profile.</p>
        <h3>Our Success Journey</h3>
        <p>Today, Primus Technologies is a leading system integrator in hyderabad providing the latest solutions in surveillance, EPABX, public address system and also dealers for m/s. Analogics-hyderabad based ISO company, and m/s. Visiontek  who are empanelled by JNTU for Aadhar based biometric for engineering colleges in Telangana districts, successfully installed in leading corporate hospitals (Care Hospital - Banjara Hills, Germanteen Hospital - Attapur) leading engineering colleges (CBIT and MGIT - Gandipet, G.Narayanamma Engineering College- Shaikpet, Aurora Engineering College - Kesavgiri) leading creda Builders – Trendset Builders Ltd - Banjara Hills</p>
    </section>
    </body>
</html>