---
# Empty
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us | Primus Technologies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include menu.html %}
    <section class="contactmain">
        <section class="contactinfo">
            <h1>Contact Us</h1>
            <table>
                <tr>
                    <td class="fcol">Address</td>
                    <td>6-3-595/63, Ground Floor, Near Bhagat Singh Statue, <br>Padmavati Nagar Colony, Khairatabad, Hyderabad - 500004</td>
                </tr>
                <!--<tr>
                    <td class="fcol">Telephone</td>
                    <td>+91 40 23325113</td>
                </tr>-->
                <tr>
                    <td class="fcol">Cellphone</td>
                    <td>+91 9394125113</td>
                </tr><tr><td class="fcol">Email</td>
                    <td>primustechnologies@yahoo.com</td>
                </tr>
            </table>
        </section>
        <section class="map">
            <div style="width: 100%">
                <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121827.24066309704!2d78.39487698604628!3d17.406926971408247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9783fd3666d1%3A0xedc5f1892fe2dc3e!2sPrimus+Technologies!5e0!3m2!1sen!2sin!4v1566387645843!5m2!1sen!2sin" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div><br />
            </div>
        </section>
    </section>
    </body>
</html>