---
# Empty
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primus Technologies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="overlay">
    {% include menu.html %}
    <div class="cover">
        <section class="main">
            <div class="jumbo">
                <h2 class="text">Providing solutions<br>for your security needs<span class="period">.</span></h2>
                <h3 class="subtext">in Hyderabad, Telangana</h3>
                <a class="callus" href="tel://+919394125113">
                    <button>☎: +91 9394125113</button>
                </a>
            </div>
        </section>
    </div>
    <section class="products">
        <div class="product cctv"><div class="inside">CCTV</div></div>
        <div class="product vdp"><div class="inside">Video Door Phone</div></div>
        <div class="product pas"><div class="inside">Public Addressing System</div></div>
        <div class="product epabx"><div class="inside">EPABX</div></div>
        <div class="product bio"><div class="inside">Biometric Systems</div></div>
    </section>
    <section class="slideshow-container">

        <div class="mySlides">
            <q>Primus Technologies is associated with our College Management since 2011 as a permanent supplier of Cameras and Biometric devices,  the work execution and after sales service is highly commendable and I strongly recommend to take the service.</q>
            <p class="author">- K.R.K. Prasad, Chief Manager - Projects, CBIT College, Gandipet, Hyderabad</p>
        </div>

        <div class="mySlides">
            <q>Primus Technologies has met all our expectations in all aspects,  and helping in delivering Customers satisfaction indirectly and helping to grow our Business forward. </q>
            <p class="author">- Mr. Ravi - General Manager of M/S.Trendset Builders Pvt. Ltd, Banjara Hills, Hyderabad</p>
        </div>

        <div class="mySlides">
            <q>We feel proud for the work executed by Primus Technologies, Hyderabad ,in installing Quality IP camera in our Colony,  Our Association Members appreciate the Team of Primus Technologies for their dedication and appreciate for their timely response of service</q>
            <p class="author">- A. Sriramulu-President, B. Ashok Kumar-Secretary, New Saidabad Bank Colony, Hyderabad</p>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </section>
      
    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div class="customers container">
        <h2>Our Customers</h2>
        <section class="customer-logos slider">
            <div class="slide"><img class="grid-item" src="img/cbit.png" alt="CBIT, Hyderabad"></div>
            <div class="slide"><img class="grid-item" src="img/mgit.png" alt="MGIT"></div>
            <div class="slide"><img class="grid-item" src="img/aurora.jpg" alt="Aurora Engineering College"></div>
            <div class="slide"><img class="grid-item" src="img/trendset.png" alt="Trendset"></div>
            <div class="slide"><img class="grid-item grid-item--width2" src="img/stpeters.jpg" alt="St. Peters Engineering College"></div>
            <div class="slide"><img class="grid-item" src="img/nisum.jpeg" alt="Nisum"></div>
            <div class="slide"><img class="grid-item" src="img/sreyas.png" alt="Sreyas"></div>
            <div class="slide"><img class="grid-item" src="img/swamin.jpg" alt="Swamin"></div>
        </section>
    </div>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            
            if (n > slides.length) { slideIndex = 1; }

            if (n < 1) { slideIndex = slides.length; }

            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            for (let i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }

            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }

        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        var elem = document.querySelector('.image-grid');
        var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
        });

        // element argument can be a selector string
        //   for an individual element
        var msnry = new Masonry( '.image-grid', {
        // options
        });
    </script>
</body>
</html>