---
# Empty
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products | Primus Technologies</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include menu.html %}
    <section class="main productsec">
        <div class="productsx">
            <div class="producti">
                <div class="productx cctv"><div class="inside">CCTV</div></div>
                <div class="productb">
                    <p>Dealing  with INDIA'S Leading Brands in latest IP solutions and HD Cameras of High Quality .</p>
                    <ul>
                        <li>HIKVision</li>
                        <li>CP Plus</li>
                        <li>Dahua</li>
                    </ul>
                </div>
            </div>
            <div class="producti">
                <div class="productx vdp"><div class="inside">Video Door Phone</div></div>
                <div class="productb">
                    <p>Providing High Quality Video Door Phone with handsfree and memory backup for Multi Model Apartments and Individual Houses</p>
                    <ul>
                        <li>HIKVision</li>
                        <li>CP Plus</li>
                    </ul>
                </div>
            </div>
            <div class="producti">
                <div class="productx pas"><div class="inside">Public Addressing System</div></div>
                <div class="productb">
                    <p>Providing IP Based and wired Public Address System of India's Leading Brands in Educational Institutions</p>
                    <ul>
                        <li>Ahuja</li>
                        <li>JBL</li>
                    </ul>
                </div>
            </div>
            <div class="producti">
                <div class="productx epabx"><div class="inside">EPABX</div></div>
                <div class="productb">
                    <p>Dealing with most renowed Brands in Public Address System of Krystal and NEC </p>
                    <ul>
                        <li>Krystal</li>
                        <li>NEC</li>
                    </ul>
                </div>
            </div>
            <div class="producti">
                <div class="productx bio"><div class="inside">Biometric Systems</div></div>  
                <div class="productb">
                    <p>Dealing with most popular brand ESSL in INDIA for qualaity and Software, and also Dealers for AADHAR based Biometric empanelled by JNTU , Hyderabad.</p>
                    <ul>
                        <li>ESSL</li>
                        <li>Visiontek (Aadhar)</li>
                        <li>Analogics (Aadhar)</li>
                    </ul>
                </div>  
            </div>
        </div>
    </section>
</body>
</html>