<header class="header">
    <h1 class="logo-text"><a href="/">Primus Technologies</a></h1>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
